.zodiac-list {
    padding: 20px;
    max-width: 95%;
    margin: 0 auto;

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

.title {
    font-weight: 700;
    font-size: 21px;
    text-align: center;
    margin-bottom: 14px;
}

.zodiac-item {
    width: 350px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    padding: 15px 10px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    position: relative;

    &:hover {
        transform: translateY(-10px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }

    &__icon {
        margin-right: 12px;
        font-weight: 500;
        font-size: 56px;
        letter-spacing: 0em;
        text-align: center;
        color: #818c99;
    }

    &__period {
        font-weight: 500;
        font-size: 15px;
        letter-spacing: -0.02em;
        color: #c3c4c5;
    }

    &__name {
        font-weight: 500;
        font-size: 36px;
        letter-spacing: -0.01em;
    }
}

.go {
    background: none;
    border: none;
    position: absolute;
    padding: 10px;
    right: 0;
    cursor: pointer;

}

@media (max-width: 480px) {
    .zodiac-list {
        padding: 20px 0px;
    }

    .zodiac-item {
        &__icon {
            font-size: 46px;
        }

        &__period {
            font-size: 14px;
        }

        &__name {
            font-size: 26px;
        }
    }

}