* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(135deg, #081e48 0%, #0047c1 100%);
  color: #ffffff;
  min-height: 100vh;
  overflow-x: hidden;
}


.app {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .app {
    padding: 15px;
  }
}

@media (max-width: 480px) {
  .app {
    padding: 10px 0;
  }
}